.App-header {
  background-color: #0B1120;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  color: white;
}

select, button{
  text-align: center;
  padding: 0.8rem;
  margin: 0.3rem;
  border: none;
  background: #38BDF8;
  border-radius: 2rem;
  color: white;
  cursor: pointer;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  max-width: 12rem;
}

